h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
body{
    width: 1000px;
    background-color: #ffffff;
    padding: 0 100px 100px 200px;
    border: 5px solid black;


}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }
  img {
    display: block;
    margin: 0 auto;
  }
 .a {
    background-image: url("images/101.jpg");
  }
  .box {
    background:
      linear-gradient(
          105deg,
          rgba(255, 255, 255, 0.2) 39%,
          rgba(51, 56, 57, 1) 96%
        ) center center / 400px 200px no-repeat,
      url(101.jpg) center no-repeat,
      rebeccapurple;

  }
  *{
 margin:0;
 padding:0;
}
body {
  padding: 100px;
}
textarea {
  width : 200px;height: 100px;
  border : 1px pink solid;
  /*不设置轮廓*/
  outline: none;
  /*设置其不能改变长宽*/
  resize: none;
  }
  li {
    width: 30epx;padding: 5px;
    background-color: #eee;font-size: 15px;
    margin: 15px 0;
    }
    li a {
       float: right;
    }